<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <main>
        <article class="registro">
            <form class="form" method="POST" action="/tienda/newProduct" enctype="multipart/form-data">
                <div class="datos">
                    <label for="categoria"><span style="text-align:right">Categoría:</span>
                        <select name="categoria" id="categoria" required> 
                            <option value="Sin categoría">Seleccionar</option> 
                            <option value="Cuerdas">Cuerdas</option>
                            <option value="Percusión">Percusión</option>
                            <option value="Teclas">Teclas</option>
                            <option value="Vientos">Vientos</option>                           
                        </select>
                </label>
                    <label for="name">
                        <input type="text" name="name" id="name" placeholder="Nombre del producto*" required>
                    </label>
                    
                    <label for="marca">
                        <input type="text" name="marca" id="marca" placeholder="Marca del producto*" required>
                    </label>
                    <label for="shortDesc">
                        <input type="text" name="shortDesc" id="shortDesc" placeholder="Breve descripción" required>
                    </label>
                    <label for="longDesc">
                        <input type="text" name="longDesc" id="longDesc" placeholder="Descripción detallada*" required>
                    </label>
                    <label for="price">
                        <input type="number" name="price" id="price" placeholder="Precio*" required>
                    </label>
                    <label for="discount">
                        <input type="number" name="discount" id="discount" placeholder="% de Descuento*" required>
                    </label>
                    <label for="stock">
                        <input type="number" name="stock" id="stock" placeholder="Stock*" required>
                    </label>
                    <label for="images">
                        <p>Imágenes</p>
                        <input class="imagenes-input" type="file" name="images" id="images" placeholder="Imágenes" multiple>
                    </label>
                </div>
            </div>
                <div class="botones-fondo">
                <button type="reset" class="boton-enviar">Borrar</button>
                <button type="submit" class="boton-enviar">Crear</button>
            </div>
            </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>