<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('../partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <section id="productos-destacados">
        </section>
        <div class="pagina">
            <div class="busqueda-paginacion">
                <ul>
                    <li class="pagina-anterior">
                        <span class="pagina-anterior">Anterior</span>
                    </li>
                    <li class="pagina-corriente">
                        <span class="pagina-1">1 </span>
                    </li>
                    <li class="pagina-de-hasta">de  1</li>
                    <li class="pagina-siguiente">
                        <span class="titulo-flecha-sig">Siguiente</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('../partials/footer') %>
	<script src="/js/productos.js"></script> 
	<script src="/js/busquedaProductos.js"></script> 
</body>
</html>