<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('./partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('./partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <h1 style="color: black">ESTA SERÁ LA PÁGINA FAQ</h1>
        
        <section>
            
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>