<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Zen+Loop&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
    <title>Ingresar | Tienda Musicalidades</title>
<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img src="./img/logo-musicalidades-header.png" alt=""></a>
            <form action="" class="form">
                <div class="datos">
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Dirección de correo electronico" required>
                    </label>
                    <label for="contraseña">
                        <input type="password" name="contraseña" id="contraseña" placeholder="contraseña" required>
                    </label>
                </div>
                    <div class="botones-fondo">
                    <button type="submit" class="boton-enviar">Ingresar</button>
                </div>
            </form>
            <div class="ayuda-login">
                <a href="">Olvidé mi usuario/contraseña</a>
                <p>|</p>
                <a href="/register">Registrarse</a>
            </div>
        </section>
    </main>
    <footer id="footer-login">
        <section class="section-footer">
            <div>
                <div class="logo-footer">
                    <img src="./img/musicalidades-logo-bn-01.png" alt="">
                    <a href="#" target="_blank" rel=""><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank" rel=""><i class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="datos-footer">
                    <p>Avenida Siempre Viva 742</p>
                    <p>Ciudad de Buenos Aires</p>
                    <p>ARGENTINA</p>
                </div>
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <a class="whatsapp" href="https://wa.me/5491151643359" target="_blank" rel="">
                    <p class="whatsapp-icon"><i class="fa-brands fa-whatsapp"></i>Whatsapp</p>
                </a>
                <a href="mailto:info@tiendamusicalidades.com" target="_self">
                    <p class="email"><i class="fa-regular fa-envelope"></i>Email</p>
                </a>
            </div>
        </section>
        <p class="copyright">© 2022 | MUSICALIDADES | Todos los derechos reservados</p>
    </footer>
</body>
</html>