<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Zen+Loop&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
    <title>Carrito | Tienda Musicalidades</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <section>
            <article>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
            </article>
        </section>
    </footer>
</body>
</html>