* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}



/********************* HEADER **********************/


.header{
    background-color: #9D9D9D;
    width: 100%;
    height: auto;
    padding: 15px 0px 5px;
    box-shadow: 0px 0px 5px 0px #9D9D9D;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* Logo 9B3515 */
.logo {
    display: inline-block;
    color: #F9AF14;
    font-size: 20px;
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif ;
}

.img-logo {
    width: 150px;
}

/* Nav Menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #9D9D9D;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;    
    text-align: left;
    padding-left: 10px;
    margin-top: 58px;
    overflow: visible;
}

#buscador-menu {
    color: white;
    margin-top: 30px;
    border: 1px #FFF solid;
    border-radius: 10px;
    background-color: transparent;

}

.fa-search {
    display: inline-block;
    cursor: pointer;    
}

.menu {
    float: left;
    padding-left: 15px;
    display: none;
}

.menu a{
    display: block;
    color: #FFF;
    padding-left: 15px;
    padding-top: 10px;

}

.menu a:hover{
    background-color: #F9AF14;
}

.menu-dropdown-items {
    display: none;
    margin: 10px 0px 10px;
}



.menu-dropdown-items a {
    color: #FFF;
}

/* .menu-dropdown-items a strong {
    display: list-item;
    list-style-type:disc;
    text-decoration: underline;
    overflow: visible !important;
    border: 1px solid red;
} */

.dropdown {
    position: relative;
    background-color: rgba(157, 157, 157, 0.5);
    display: none;
    padding-left: 11px;
    z-index: 99999999999999;
    margin-right: -12px;
    padding-bottom: 7px;
}


.dropdown:hover .menu-dropdown-items {
    display: block;
}

.dropdown a{
    margin-left: -20px;
}

ul li:hover .dropdown { display: block }


/* Icono Hamburguesa */

.hamb {
    cursor: pointer;
    float: left;
    padding: 10px;
    margin-top: 10px;
    order: -1;
}


.hamb-line {
    background: #FFF;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: #FFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 8px;
}

.hamb-line::after{
    top: -8px;
}


/* Icono Shopping */

.shopping-icon {
    float: right;
    padding-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}


/* Menu Costado Celulares */

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
    background-color: #9D9D9D;
    z-index: 999999;
}

.side-menu:checked ~ nav .menu{
    display: unset;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/********************* MAIN INDEX **********************/
main {
    display: block;
}
.carousel {
    position: relative;
    box-shadow: 0px 0px 5px 0px #9D9D9D;
    width: 99%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    /*display: none;*/
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    margin: auto;

}

.carousel-item img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.carousel-control {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #F9AF14;
}

/* botones redondos*/

#botones-redondos {
    text-align: center;
    margin-bottom: 25px;
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    
}

.botones-redondos {
    
    margin-top: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: #9D9D9D solid 2px;
}

.botones-redondos p {
    display: block;
    margin-top: 20px;
}
.img-boton {
    padding-top: 15px;
    width: 50%;
}

.botones-redondos:hover {
    background-color: #9D9D9D;
    border: #000 solid 1px;
    font-weight: bold;
}


/****************ICONOS DE COMPRAS*************************/

.iconos-compras {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    padding: 20px;
    margin: 40px 0px 20px;
    background-color: #F9AF14;
}

.iconos-compras div {
    text-align: center;
    padding: 8px 5px 8px;
}

.iconos-compras h4 {
    text-decoration: underline;
    padding: 5px;
}

/* productos destacados */

.destacados-titulo {
    font-family: 'Zen Loop';
    font-size: 20px;
    text-align: center;
    color: #9D9D9D;
    border-bottom: #9D9D9D 2px solid;
    margin-bottom: 10px;
    background-color: #FFF;
}

/*#productos-destacados {
    display: flex;
}*/

#productos-destacados {
    display: flex;
    flex-wrap: wrap;

}

.productos-destacados {
    max-width: 50%;
    margin: auto;
    text-align: left;
    float: left;
    padding: 5px 5px 15px;

}
.ocultar,
.ocultar4 {
    display: none;
}
.productos-destacados img {
    width: 100%;
    max-height: 50%;
    border-radius: 10PX;
}
.productos-destacados h3 {
    color: #000;
    font-weight: bold;
    font-size: 0.7rem;
}  
.precio {
    color: #9D9D9D;
    font-size: 0.7rem;
}

.productos-destacados button {
    border: none;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    float: right;
    margin-top: -10px;
    color: white;
    background-color: #9D9D9D;
    text-align: center;
    cursor: pointer;
    font-size: 8px;
}

.productos-destacados button:hover {
    /*opacity: 0.7;*/
    background-color: #F9AF14;
}


hr {
    display: block;
    min-width: 100%;
    border-top: 3px #9D9D9D solid;
}

/* DETALLE DEL PRODUCTO */
.titulo-nav-paginas {
    padding: 10px;
    color: #000;
}


.producto{
    width: 90vw;
    margin-left: 5vw;
}

.producto .carousel-container{
    display: flex;
    flex-wrap: wrap;
}

.producto .carousel{
    height: 270px;
    max-width: 480px;
}

.producto .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 270px;
    border-radius: 10px;
}

.producto .carousel .carousel-item{
    height: 100%;
}

.producto .carousel .carousel-item img{
    height: 100%;
    object-fit: cover;
}

.producto .carousel-indicadores{
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.producto .carousel-indicadores img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
    border: black 1px solid;
}

.producto-descripcion {
    margin-bottom: 20px;
}
.producto-descripcion h2{
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.producto-descripcion h3{
    
    color: black;
    font-size: 1.1em;
    font-weight: normal;
}

.producto-descripcion h4{
    color: black;
    font-size: 1.2em;
    margin-bottom: 10px;
}


.producto-descripcion .precio{
    font-size: 2em;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}

.producto-form{
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid darkgray 2px;
    border-radius: 5px;
    
}

.cantidad input[type=number] {
    appearance: textfield;
    border: none;
    font-weight: bold;
    font-size: 1.4em;
    width: 40px;
    text-align: center;
    height: 25px;
}

.cantidad input[type=number]:focus{
    outline: none;
}

.cantidad button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 1.5em;
    height: 100%;
    padding: 3px 10px 3px;
}
.cantidad button:hover{
    background-color: lightgray;
}

.cantidad button:active{
    background-color: grey;
}

.boton-enviar{
    background-color: #383c73;
    color: white;
    border: solid darkgray 1px;
    border-radius: 5px;
    height: 30px;
    margin: 0px 5px;
    padding: 0px 15px;
    font-size: 12px;
}

.boton-enviar:hover{
    background-color: #323463;
    color: white;
}

.boton-enviar:active{
    background-color: #232545;
    color: white;
}


.producto-descripcion .descripcion-detallada{
    color: black;
    font-size: 1em;
    line-height: 1.5em;
}

.carrito .boton-enviar{
    width: 160px;
}

/* CARRITO DE COMPRAS */

.carrito{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10px;
}

.carrito-productos{
    height: 150px;
    border-radius: 10px;
}

.carrito-productos{
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 0px #9D9D9D;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: space-between;
}

.carrito-productos img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
    border: darkgray 1px solid;
    margin: 20px;
}

.carrito-cosas{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.carrito-productos .carrito-nombre-precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrito-productos p{
    font-size: 1.5em;
    color: #515151;
}

.carrito-botones {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 20px;
}

.carrito-botones .cantidad input[type=number] {
    appearance: textfield;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    width: 40px;
    text-align: center;
    height: 25px;
}

.carrito-botones .cantidad button{
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    height: 100%;
    padding: 4px 8px 3px;
}

.x-borrar-l{
    width: 20px;
    align-self: flex-end;

}

.x-borrar{
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    
}

.carrito h2{
    font-size: 1.5em;
    color: black;
}

.form{
    margin-top: 15px;
}

.form .datos{
    display: flex;
    flex-direction: column;
}

.form .datos input{
    border: 1px darkgray solid;
    width: 100%;
    border-radius: 5px;
    padding: 15px 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
}

.form #codigo-p{
    width: 105px;
}

.subtotal{
    display: flex;
    color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.subtotal p{
    text-align: right;
}

.subtotal h3{
    width: 300px;
}

#subtotal::after{
    content: "(2 productos)";
    font-size: 0.8em;
    color: gray;
}

.total{
    border-top: #000 1px solid;
    display: flex;
    color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.total-p{
    font-size: 1.5em;
}

.form .botones-fondo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

/* pagina de registro */

#footer-register,
#footer-login {
    display: none;
}

.registro-body{
    background-color: #9D9D9D;
}

.registro {
    max-width: 400px;
    margin: 10vh auto 10vh;
    text-align: center;
}

.registro img{
    width: 50%;
}


.registro .boton-enviar{
    width: 90px;
}

.ayuda-login{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.ayuda-login a{
    padding: 0px 10px;
}

.login .botones-fondo{
    justify-content: flex-end;
}


/************************FOOTER**************************/

footer {
    float: left;
    display: block;
    width: 100%;
    background-color: #9D9D9D;
    margin-top: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #9D9D9D;
}

.section-footer {
    margin: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;

}

.section-footer a {
    display: block;
    color: white;

}

.section-footer img {
    width: 140px;
    margin-left: -10px;
    margin-right: -5px;

}

.datos-footer {
    font-size: 11px;
    padding-left: 10px;
}

footer .whatsapp {
    font-size: 12px;
    color: green;
}
footer .email {
    font-size: 13px;
    color: rgb(67, 67, 67);
}

footer .whatsapp i,
footer .email i {
    font-size: 14px;
    margin-left: 0px;
    padding-right: 5px;
    line-height: 120%;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer a {
    margin-left: -6px;
}

.fa-brands {
    font-size: 20px;
    margin-left: 20px;

}

.copyright {
    font-size: 10px;
    color: black;
    padding: 10px 0px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px;
}

.menu-footer ul {
    margin-bottom: 5px;
}

.menu-footer li {
    line-height: 150%;
    list-style-type: circle;
}


/* Responsive */

@media (min-width: 361px) {
    /*.carousel {
        display: block;
    }*/
    .iconos-compras div {
        max-width: 33%;
        float: left;
        padding: 0px 7px 0px;
    }
    .productos-destacados {
        max-width: 33%;
    }
    .ocultar {
        display: block;
    }
    /*.carousel-inner {
        height: 300px;
    }*/

}  


@media (min-width: 769px) {
    
    .section-carousel,
    #productos-destacados,
    .carrito,
    footer {
        padding-right: 100px;
        padding-left: 100px;
    }
    
    .header {
        height: 70px;
    }
    .logo {
        padding-left: 15px;
    }
    .nav {
        max-height: none;
        position: relative;
        width: fit-content;
        background-color: transparent;
        margin: auto;
    }
    .menu {
        margin: auto;
        margin-top: 5px;
        display: unset;
    }
    .shopping-icon {
        padding-left: 15px;
        padding-right: 0px;
    }
    .shopping-icon a{
        color: white;
    }
    #buscador-menu {
        margin-top: 8px;
    }
    .fa-cart-shopping{
        margin-right: 15px;
    }
    .shopping-desktop {
        display: inline-block;
        padding-left: 15px;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: #F9AF14;
    }
    .hamb{
        display: none;
    }
    .carousel-inner {
        height: 350px;
    }
    .iconos-compras div {
        max-width: 33%;
        float: left;
        padding: 0px 15px 0px;
    } 
    .productos-destacados {
        max-width: 25%;
        margin-left: 0px;
    }
    .ocultar4 {
        display: block;
    }

    .producto .carousel-container{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .producto .carousel{
        margin: 10px 0px;
    }

    .producto .carousel-indicadores{
        flex-direction: column;
        margin-right: 0px;
    }
    .cont-producto-descripcion {
        width: 50%;
        margin: auto;

    }
    
}