<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('./partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('./partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <a href="/tienda/newProduct">nuevo producto (placeholder)</a>
        <a href="/tienda/modifyProduct">modificar producto (placeholder)</a>
        <section class="section-carousel">
            <div class="carousel">
                <div class="carousel-inner">
                    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                    <div class="carousel-item">
                        <img src="./img/img1.jpg">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="./img/img2.jpg">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="./img/img3.jpg">
                    </div>
                    <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                    <label for="carousel-2" class="carousel-control next control-1">›</label>
                    <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                    <label for="carousel-3" class="carousel-control next control-2">›</label>
                    <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                    <label for="carousel-1" class="carousel-control next control-3">›</label>
                    <ol class="carousel-indicators">
                        <li>
                            <label for="carousel-1" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-2" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-3" class="carousel-bullet">•</label>
                        </li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- BOTONES REDONDEOS-->
        <section id="botones-redondos">
            <a href="/tienda"><button class="botones-redondos"><img class="img-boton" src="./img/guitarra.png" alt="guitarra"><p>Cuerdas</p></button></a>
            <a href="/tienda"><button class="botones-redondos"><img class="img-boton" src="./img/bateria.png" alt="bateria"><p>Percusión</p></button></a>
            <a href="/tienda"><button class="botones-redondos"><img class="img-boton" src="./img/piano-de-cola.png" alt="piano de cola"></i><p>Teclas</p></button></a>
            <a href="/tienda"><button class="botones-redondos"><img class="img-boton" src="./img/tuba.png" alt="tuba"></i><p>Vientos</p></button></a>
        </section>

        <!--ICONOS COMPRAS-->
        <div class="iconos-compras">
            <div>
                <i class="fa-solid fa-credit-card fa-2x"></i>
                <h4>Comprá con todas las Tarjeras</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-truck-fast fa-2x"></i>
                <h4>Envíos a todo el país</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <i class="fa-solid fa-tags fa-2x"></i>
                <h4>Ahora 12</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <!-- PRODUCTOS DESTACADOS-->
        <div class="destacados-titulo"><h2>Productos Destacados del Mes</h2></div>
        <section id="productos-destacados">
            
            <div class="productos-destacados">
                <a href="/tienda/productDetail"><img src="./img/producto-piano.jpg" alt="Producto piano"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$1.999</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/tienda/productDetail"><img src="./img/producto-guitarra.jpg" alt="Producto guitarra"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/tienda/productDetail"><img src="./img/producto-bateria.jpg" alt="Producto bateria"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/tienda/productDetail"><img src="./img/producto-flauta.jpg" alt="Producto flauta"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$1.999</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar">
                <a href="/tienda/productDetail"><img src="./img/producto-piano.jpg" alt="Producto piano"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar">
                <a href="/tienda/productDetail"><img src="./img/producto-bateria.jpg" alt="Producto bateria"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar4">
                <a href="/tienda/productDetail"><img src="./img/producto-guitarra.jpg" alt="Producto guitarra"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar4">
                <a href="/tienda/productDetail"><img src="./img/producto-flauta.jpg" alt="Producto flauta"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>