<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Zen+Loop&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet">
        <title>Error 404 | Tienda Musicalidades</title>
    </head>

<body>
    <header class="header">
        <!-- LOGO -->
        <a href="/"><p class="logo"><img class="img-logo" src="/img/logo-musicalidades-header.png" alt="logo musicalidades"><!--MUSICALIDADES--></p></a>
    </header>
    <!-------------------------MAIN------------------------------->
    <main style="padding: 200px; text-align: center; color: blue;">
        <h1>UPS! Página no encontrada</h1>
        <p><a class="botones-admin" href="/"><i class="fa-solid fa-arrow-rotate-left"></i> VOLVER A LA PÁGINA PRINCIPAL</a></p>
        
    </main>
</body>
</html>