<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('./partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('./partials/header') %>
    <!-------------------------MAIN------------------------------->
    
    <section class="tituloAdmin">
        <% if (admin == true) { %>
            <h2 class="titulo-admin">VISTA DE ADMINISTRACIÓN</h2>
        <% }%>
    </section>    
    <section class="busquedaTitulo"></section>
    <section class="ordenYfiltros"></section>
    <main>
        <section class="quienes-somos">
            <h3>QUIENES SOMOS</h3>
            <div class="container">
                <img src="/img/instruments.png">
                <div>
                    <a href="/"><img class="logo" src="./img/logo-musicalidades-header.png" alt="logo-musicalidades"></a>
                    <br>
                    <h4>NOSOTROS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisl mauris, fermentum sit amet tempus vitae, sagittis ac libero. Suspendisse justo elit, lacinia eget congue ut, condimentum et orci. Nunc et blandit metus, sed tincidunt neque. Suspendisse efficitur eleifend nunc, vitae congue lectus porta eget. Proin rhoncus odio magna, sed cursus libero consequat condimentum. Donec consequat fringilla ligula id mattis. Vivamus purus tortor, ornare quis ullamcorper in, commodo et tortor. Maecenas facilisis elit vitae leo hendrerit, in lacinia mi pulvinar. Maecenas ultricies diam felis, at tristique nisi aliquet ac. Quisque gravida et turpis at dictum. Sed lacinia erat vel tincidunt imperdiet. Phasellus orci turpis, ultricies ut libero eu, venenatis luctus nulla. Maecenas diam elit, viverra a ullamcorper non, interdum ut sem. Sed dignissim viverra ligula. Phasellus scelerisque gravida viverra.</p>
                    <br>
                    <h4>NUESTROS PARTNERS</h4>
                    <div class="marcas"><img src="./img/istambul.png" alt="istambul"><img src="./img/pearl.png" alt="pearl"><img src="./img/sony.png" alt="sony"><img src="./img/fender.png" alt="fender"><img src="./img/yamaha.png" alt="yamaha"><img src="./img/gibson.png" alt="gibson"></div>
                </div>
            </div>
        <section>            
    </main>
    <div class="pagina" id="paginado-tienda"></div>
    <!-------------------------FOOTER------------------------------->
    <%- include('./partials/footer') %>
    <script src="/js/busquedaProductos.js"></script> 
</body>
</html>