<footer>
    <section class="section-footer">
        <div>
            <div class="logo-footer">
                <img src="./img/musicalidades-logo-bn-01.png" alt="">
                <a href="#" target="_blank" rel=""><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank" rel=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="datos-footer">
                <p>Avenida Siempre Viva 742</p>
                <p>Ciudad de Buenos Aires</p>
                <p>ARGENTINA</p>
            </div>
        </div>
        <div class="menu-footer">
            <ul>
                <li><a href="/quienes-somos">Quienes Somos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
            <a class="whatsapp" href="https://wa.me/5491151643359" target="_blank" rel="">
                <p class="whatsapp-icon"><i class="fa-brands fa-whatsapp"></i>Whatsapp</p>
            </a>
            <a href="mailto:info@tiendamusicalidades.com" target="_self">
                <p class="email"><i class="fa-regular fa-envelope"></i>Email</p>
            </a>
        </div>
    </section>
    <p class="copyright">© 2022 | MUSICALIDADES | Todos los derechos reservados</p>
</footer>