<header class="header">
    <!-- LOGO -->
    <a href="/"><p class="logo"><img class="img-logo" src="/img/logo-musicalidades-header.png" alt="logo musicalidades"><!--MUSICALIDADES--></p></a>
    <!-- ICONO HAMBURGUESA -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu">
        <span class="hamb-line"></span>
    </label>

    <!-- MENU -->
    <nav class="nav">
        <ul class="menu">
            <li>
                <input type="text" placeholder="Buscar productos, marcas, etc"  id="buscador-menu">
                <i class="fas fa-search"></i>
            </li>
            <li><a href ="/">INICIO</a></li>
            <li><a href="/tienda" class="menu-dropdown">
                TIENDA
                <i class="fa-solid fa-chevron-down"></i>
                </a>
                <div class="dropdown">
                            <a href="/tienda"><strong>Cuerdas</strong></a>
                            <a href="/tienda">Instrumentos</a>
                            <a href="/tienda">Accesorios</a>
                            <a href="/tienda"><strong>Percusión</strong></a>
                            <a href="/tienda">Instrumentos</a>
                            <a href="/tienda">Accesorios</a>
                            <a href="/tienda"><strong>Teclas</strong></a>
                            <a href="/tienda">Instrumentos</a>
                            <a href="/tienda">Accesorios</a>
                            <a href="/tienda"><strong>Vientos</strong></a>
                            <a href="/tienda">Instrumentos</a>
                            <a href="/tienda">Accesorios</a>
                </div>
            </li>
            <li><a href ="/contacto">CONTACTO</a></li>
            <%if(user == undefined){ %>
            <li><a href ="/login">INICIAR SESIÓN</a></li>
            <%}else{%>
            <li><a href="/signout"> CERRAR SESIÓN</a></li>
            <%}%>
            
        </ul>
        <%if(user){ %>
            <%- include('../partials/profilePic') %>
        <%}%>
    </nav>
    <div class="shopping-icon"><a href="/tienda/productCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a></div>
</header>