<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('../partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <h1 style="color: black">ESTA SERÁ LA PÁGINA TIENDA</h1>
        
        <section id="productos-destacados">
            
            <div class="productos-destacados">
                <a href="/productDetail"><img src="./img/producto-piano.jpg" alt="Producto piano"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$1.999</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/productDetail"><img src="./img/producto-guitarra.jpg" alt="Producto guitarra"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/productDetail"><img src="./img/producto-bateria.jpg" alt="Producto bateria"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados">
                <a href="/productDetail"><img src="./img/producto-flauta.jpg" alt="Producto flauta"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$1.999</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar">
                <a href="/productDetail"><img src="./img/producto-piano.jpg" alt="Producto piano"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar">
                <a href="/productDetail"><img src="./img/producto-bateria.jpg" alt="Producto bateria"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar4">
                <a href="/productDetail"><img src="./img/producto-guitarra.jpg" alt="Producto guitarra"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$9.250</p>
                <p><button>AGREGAR</button></p>
            </div>
            <div class="productos-destacados ocultar4">
                <a href="/productDetail"><img src="./img/producto-flauta.jpg" alt="Producto flauta"></a>
                <h3>Nombre producto</h3>
                <p class="precio">$19.750</p>
                <p><button>AGREGAR</button></p>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('../partials/footer') %>
</body>
</html>