<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img class="margen-logo" src="./img/logo-musicalidades-header.png" alt=""></a>
        <h2>Ese enlace ya expiró</h2>
        </section>
    </main>
</body>
</html>