<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img src="./img/logo-musicalidades-header.png" alt=""></a>
            <form action="" class="form">
                <div class="datos">
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Dirección de correo electronico" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                        <% if(typeof(errors) != 'undefined' && errors.email){%>
                            <span class="text-danger">
                              <%= errors.email.msg %>
                            </span>
                         <%}%>
                    </label>
                    <label for="contraseña">
                        <input type="password" class="form-control js_password" name="contraseña" id="contraseña" placeholder="contraseña" aria-label="Username">
                        <% if(typeof(errors) != 'undefined' && errors.password){%>
                            <span class="text-danger">
                                <%= errors.password.msg %>
                            </span>
                        <%}%>
                        <div class="form-group ">
                            <input type="checkbox" name="recordarme">
                            <label class="checkbox-inline">Recordarme</label>
                        </div>
                    </label>
                </div>
                    <div class="botones-fondo">
                    <button type="submit" class="boton-enviar">Ingresar</button>
                </div>
            </form>
            <div class="ayuda-login">
                <a href="">Olvidé mi usuario/contraseña</a>
                <p>|</p>
                <a href="/register">Registrarse</a>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <footer>
    </footer> 
</body>
</html>