<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <main>
        <img src="/img/<%= user.avatar %>" alt="">
        aca estaria la informacion del usuario y/o formulario para editar la misma
    </main>
    <%- include('../partials/footer') %>
</body>
</html>