<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img class="margen-logo" src="./img/logo-musicalidades-header.png" alt=""></a>
            <h2>La contraseña de <%= email %> ahora es <%= password %></h2>
            <p>Por razones de seguridad te sugerimos iniciar sesión y cambiarla lo antes posible</p>
        </section>
    </main>
</body>
</html>