<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img src="./img/logo-musicalidades-header.png" alt=""></a>
        </section>
        <h2>La contraseña de <%= email %> ahora es <%= password %></h2>
        <p>Por razones de seguridad te sugerimos iniciar sesión y cambiarla lo antes posible</p>
    </main>
</body>
</html>