<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <main>
        <%=user%>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>