<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <main class="login">
        <section class="registro">
            <a href="/"><img src="./img/logo-musicalidades-header.png" alt=""></a>
            <form action="/resetPassword" class="form" method="post">
                <div class="datos">
                    <label for="email">
                        <input type="text" name="email" id="email" placeholder="Direcci칩n de correo electr칩nico"  value="<%=locals.old && old.email ? old.email : ''%>">
                    </label>
                    <span class="error-validaci칩n"></span>
                    <% if (locals.errors && errors.email) { %>
                        <p class="error-validacion"><%= errors.email.msg %></p>
                    <% } %>
                </div>
                    <div class="botones-fondo">
                    <button type="submit" class="boton-enviar">Restablecer contras침ea</button>
                </div>
            </form>
        </section>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
    <script src="/js/validacionResetPasswordFront.js"></script>
</body>
</html>